/* @media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
   
} */

/* Smartphones (landscape) ———– */
@media only screen
and (min-width : 321px) {
    html, body {
        height: 100vh;
        width: 100vw;
        text-align: center;
        background-image: url("./src/img/background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #startGameContainer {
        width: 100%;
    }
    
    #startGame {
        top: 10px;
        width: 50px;
        height: 20px;
        margin-bottom: 5px;
    }
    
    #chessTable {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .table {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        background-color: #610c04;
        padding: 5px;
    }
      
    .cell {
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 0px;
        text-align: center;
    }
    
    .emptyCell {
        width: 35px;
        height: 35px;
    }

    .noPiece {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35px;
        height: 35px;
    }
    
    .piece {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 30px;
    }
/* Styles */
}

/* Smartphones (portrait) ———–
@media only screen
and (max-width : 320px) {
   
} */

/* iPads (portrait and landscape) ———– */
/* @media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
   
} */

/* iPads (landscape) ———– */
/* @media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
   
} */

/* iPads (portrait) ———– */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}

/* Desktops and laptops ———– */
@media only screen
and (min-width : 1224px) {
    html, body {
        height: 100vh;
        width: 100vw;
        text-align: center;
        background-image: url("./src/img/backGround.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    #startGame {
        top: 10px;
        margin-top: 10px;
        width: 100px;
        height: 30px;
        margin-bottom: 10px;
    }
    
    #chessTable {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .table {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        background-color: #610c04;
        padding: 10px;
    }
      
    .cell {
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 0px;
        text-align: center;
    }
    
    .emptyCell {
        width: 65px;
        height: 65px;
    }

    .noPiece {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65px;
        height: 65px;
    }
    
    .piece {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 60px;
    }
}
